@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.hello {
  font-family: "Roboto";
  color: red;
  background-image: url("./assets/images/laptop.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100vh;
}
